<!DOCTYPE html>
<header th:insert="~{layout}"></header>

<body>

<div th:insert="~{fragments/header}"></div>

<h1 class="title">
    Welcome to statistics of the Wine Cellar!
</h1>

<table class="table table-striped">
    <thead class="thead-dark">
    <tr>
        <th>Name</th>
        <th>Type of wine</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="wine : ${winelist}">
        <td th:text="${wine.name}"></td>
        <td th:text="${wine.type}"></td>
    </tr>
    </tbody>
</table>

<div th:insert="~{fragments/footer}">
</div>