<!DOCTYPE html>
<header th:insert="~{layout}"></header>
<body>

<div th:insert="~{fragments/header}"></div>

<div class="container-fluid">
    <div class="row justify-content-center align-items-center">
        <div class="col-md-6">
            <h1 class="title text-center">
                Welcome to Wine searching!
            </h1>
        </div>
    </div>
</div>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <!-- Search Form -->
            <form th:action="@{/wines/searchWine}" th:method="get" >
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Search..."  th:name="searchTerm" id="searchInput">
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="submit">Search</button>
                    </div>
                </div>
            </form>

            <!-- Search Results List -->
            <ul class="list-group" id="searchResults">

                <li th:each="wine : ${searchResults}" class="list-group-item">
                    <div>
                        <strong th:text="${wine.name}"></strong>
                    </div>
                    <div>Type: <span th:text="${wine.type}"></span></div>
                    <div>EAN: <span th:text="${wine.ean}"></span></div>
                    <div>Description: <span th:text="${wine.description}"></span></div>
                </li>
            </ul>
        </div>
    </div>
</div>

<div th:insert="~{fragments/footer}"></div>

</body>
</html>
