<!DOCTYPE html>
<header th:insert="~{layout}"></header>

<body>

<div th:insert="~{fragments/header}"></div>

    <section style="background-color: #eee;">
        <div class="container py-5">
            <div class="row">
                <div class="col-lg-4">
                    <div class="card mb-4">
                        <div class="card-body text-center">
                            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
                                 class="rounded-circle img-fluid" style="width: 150px;">
                            <p class="my-3" th:text="${winery.getWineryName()}"></p>
                            <p class="text-muted mb-1">Winery in Bavaria</p>
                            <p class="text-muted mb-4">Niederbayern, Germany</p>

                            <br>
                            <div>
                                    <p >Share the link to this page!!</p>
                                    <p th:text="${winery.getShareLink()}"></p>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Full Name</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0" th:text="${winery.getWineryName()}"></p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Email</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">example@example.com</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Phone</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">(097) 234-5678</p>
                                </div>
                            </div>

                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Address</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">Galgenbergstraße 32, Regensburg, Deutschland </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <h2>All wines</h2>

                    <table th:if="${wines!=null && not wines.isEmpty()}" class="table">
                        <thead>
                        <tr>
                            <th th:text="#{Name}">Wine Name</th>
                            <th th:text="#{Taste_Rating}">Taste Rating</th>
                            <th th:text="#{Design_Rating}">Design Rating</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="wine : ${wines}">
                            <td th:text="*{wine.getName()}">Wine Name</td>
                            <td th:text="${wine.getDescription()}">Taste Rating</td>
                            <td th:text="${wine.getType()}">Design Rating</td>
                        </tr>
                        </tbody>
                    </table>

                    <!-- Pagination controls -->
                    <nav aria-label="Page navigation" th:if="${wines!=null && !wines.isEmpty()}">
                        <ul class="pagination justify-content-center">
                            <li th:if="${wines.hasPrevious()}" class="page-item">
                                <a class="page-link"  th:href="${hrefLinkPrev}" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li th:each="pageNum : ${#numbers.sequence(0, wines.totalPages - 1)}" class="page-item" th:classappend="${pageNum} == ${wines.number} ? 'active'">
                                <a class="page-link" th:href="${hrefLinkPagePre}+${pageNum}+${hrefLinkPagePost}" th:text="${pageNum + 1}">1</a>
                            </li>
                            <li th:if="${wines.hasNext()}" class="page-item">
                                <a class="page-link" th:href="${hrefLinkNext}" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </section>




<div th:insert="~{fragments/footer}"></div>
</body>
