<!DOCTYPE html>
<header th:insert="~{layout}"></header>

<body>

<div th:insert="~{fragments/header}"></div>

<div class="container mt-5">
    <h1 class="text-center" th:text="#{Your_Wines}">Your wines!</h1>

    <span th:text="#{Your_Wines_desc}"></span>

    <table class="table table-striped mt-5">
        <thead class="thead-dark">
        <tr>
            <th th:text="#{Name}">Name</th>
            <th th:text="#{average_taste}">Avg taste rating</th>
            <th th:text="#{average_design}">Avg Desgin rating</th>
            <th th:text="#{average_price}">Avg price rating</th>

            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="wine : ${allWines}">
            <td th:text="${wine.name}"></td>
            <td th:text="${wine.getAvgTasteRating()}"></td>
            <td th:text="${wine.getAvgDesignRating()}"></td>
            <td th:text="${wine.getAvgPriceRating()}"></td>

            <td>
                <a th:href="@{/wines/edit/{id}(id=${wine.getId()})}" th:text="#{Edit}" class="btn btn-primary">Edit wine</a>
            </td>
        </tr>
        </tbody>
    </table>

    <!-- Pagination controls -->
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            <li th:if="${allWines.hasPrevious()}" class="page-item">
                <a class="page-link" th:href="@{/winery/statistics(page=${allWines.number - 1}, size=${allWines.size})}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li th:each="pageNum : ${#numbers.sequence(0, allWines.totalPages - 1)}" class="page-item" th:classappend="${pageNum} == ${allWines.number} ? 'active'">
                <a class="page-link" th:href="@{/winery/statistics(page=${pageNum}, size=${allWines.size})}" th:text="${pageNum + 1}">1</a>
            </li>
            <li th:if="${allWines.hasNext()}" class="page-item">
                <a class="page-link" th:href="@{/winery/statistics(page=${allWines.number + 1}, size=${allWines.size})}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>


<div th:insert="~{fragments/footer}">

</div>