<!DOCTYPE html>
<header th:insert="~{layout}"></header>

<body>

<div th:insert="~{fragments/header}"></div>

<div class="container mt-5">
    <h1 class="text-center">Your wines!</h1>

    <table class="table table-striped mt-5">
        <thead class="thead-dark">
        <tr>
            <th>Name</th>
            <th>Type of wine</th>
            <th>Description</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="wine : ${allWines}">
            <td th:text="${wine.name}"></td>
            <td th:text="${wine.type}"></td>
            <td th:text="${wine.description}"></td>
            <td>
                <a th:href="@{/wines/edit/{id}(id=${wine.getId()})}" class="btn btn-primary">Edit wine</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>


<div th:insert="~{fragments/footer}">

</div>