<!DOCTYPE html>
<head>
    <title>Rate the Wine</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet">
</head>



<header th:insert="~{layout}"></header>

<body th:insert="~{fragments/header}"></body>

<div class="container mt-4">
    <h2>Update Rating</h2>
    <form th:action="@{/rating/update}" method="post">

        <input type="hidden" id="id" name="id" class="form-control" th:value="${oldrating.getRatingId()}" readonly/>

        <input type="hidden" id="wineId" name="wineId" class="form-control" th:value="${oldrating.getWine().getId()}" readonly/>


        <div class="form-group">
            <label for="wineName">Wine Name</label>
            <input type="text" id="wineName" name="wineName" class="form-control" th:value="${oldrating.getWine().getName()}" readonly/>
        </div>

        <div class="form-group">
            <label for="tasteRating">Taste Rating</label>
            <input type="number" id="tasteRating" name="ratingTaste" class="form-control" th:value="${oldrating.getRatingTaste()}" required/>
        </div>

        <div class="form-group">
            <label for="designRating">Design Rating</label>
            <input type="number" id="designRating" name="ratingDesign" class="form-control" th:value="${oldrating.getRatingDesign()}" required/>
        </div>

        <div class="form-group">
            <label for="priceRating">Price Rating</label>
            <input type="number" id="priceRating" name="ratingPrice" class="form-control" th:value="${oldrating.getRatingPrice()}" required/>
        </div>



        <button type="submit" class="btn btn-primary">Update Rating</button>
    </form>
</div>


<body th:insert="~{fragments/footer}"></body>


<style>

    .star-rating .stars {
        cursor: pointer;
        display: inline-block;
    }

    .star-rating .stars i {
        font-size: 1.5rem; /* Adjust the size of stars */
        color: #ccc; /* Default star color */
    }

    .star-rating .stars i.selected {
        color: #f39c12; /* Selected star color */
    }

</style>

<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        const container = document.querySelector('.container');
        container.addEventListener('click', function(e) {
            if (e.target && e.target.matches('.fa-star')) {
                const starsEl = e.target.parentNode;
                const ratingInput = document.getElementById(starsEl.dataset.rating);
                const idx = Array.from(starsEl.children).indexOf(e.target);
                if (idx >= 0) {
                    ratingInput.value = idx + 1; // Set the hidden input value
                    updateStars(starsEl, idx);
                }
            }
        });
    });

    function updateStars(starsEl, idx) {
        Array.from(starsEl.children).forEach((star, i) => {
            star.classList.toggle('selected', i <= idx);
        });
    }
</script>
