<!DOCTYPE html>
<header th:insert="~{layout}"></header>

<body th:insert="~{fragments/header}"></body>

<div class="container mt-5">
    <h2>Enter Wine Number</h2>
    <form th:action="@{/addwine}" method="get" class="mt-4">
        <div class="form-group">
            <label for="wineNumber">Wine Number:</label>
            <input type="number" id="wineNumber" name="winenumber" class="form-control" placeholder="Enter wine number" required>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

<body th:insert="~{fragments/footer}"></body>
</html>