<!DOCTYPE html>
<header th:insert="~{layout}"></header>

<body th:insert="~{fragments/header}"></body>

    <p class="alert alert-warning" role="alert" th:text="#{winelist_sorry}">
        Unfortunately we do not have the wine you are looking for in our database. Select the one youre looking for from the list below and add it to our database. Thank you for your contribution!

    </p>
    <div class="container mt-5">
        <h1 class="mb-4" th:text="#{winelist_title}">List of found wines</h1>
        <div class="row">
            <div th:each="wine : ${products}" class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${wine.get('Name')}">Wine Name</h5>
                        <p class="card-text" th:text="${wine.get('Description')}">Description</p>
                        <form th:action="@{/rating/addWine}" method="post">
                            <input type="hidden" th:name="name" th:value="${wine.get('Name')}" />
                            <input type="hidden" th:name="description" th:value="${wine.get('Description')}" />
                            <input type="hidden" th:name="ean" th:value="${wine.get('EAN')}" />
                            <button type="submit" class="btn btn-primary" th:text="#{winelist_button}">Add to Database</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div th:if="${#lists.isEmpty(products)}" class="alert alert-info">
            <p th:text="#{winelist_nowines}">No wines available</p>
        </div>
    </div>
<body th:insert="~{fragments/footer}"></body>
