<!DOCTYPE html>
<header th:insert="~{layout}"></header>

<body th:insert="~{fragments/header}"></body>

<div class="container mt-5">
    <h2>Search for Wine by Name</h2>
    <form th:action="@{/rating/search_by_name}" method="post" class="mt-4">
        <div class="form-group">
            <label for="name">Wine Name:</label>
            <input type="text" id="name" name="name" class="form-control" placeholder="Enter wine name" required>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>


<body th:insert="~{fragments/footer}"></body>
