<!DOCTYPE html>
<header th:insert="~{layout}"></header>


<body th:insert="~{fragments/header}"></body>
<body>
<div class="container mt-4">
  <h2>Wine List</h2>

  <!-- Table for displaying wine data -->
  <table class="table table-bordered table-hover">
    <thead class="thead-dark">
    <tr>
      <th>Name</th>
      <th>Average Taste Rating</th>
      <th>Average Design Rating</th>
      <th>Average Price Rating</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="wine : ${wines}">
      <td th:text="${wine.name}">Name</td>
      <td th:text="${wine.avgTasteRating}">Taste Rating</td>
      <td th:text="${wine.avgDesignRating}">Design Rating</td>
      <td th:text="${wine.avgPriceRating}">Price Rating</td>
    </tr>
    </tbody>
  </table>

  <!-- Pagination controls -->
  <nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
      <li th:if="${wines.hasPrevious()}" class="page-item">
        <a class="page-link" th:href="@{/allratings(page=${wines.number - 1}, size=${wines.size})}" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li th:each="pageNum : ${#numbers.sequence(0, wines.totalPages - 1)}" class="page-item" th:classappend="${pageNum} == ${wines.number} ? 'active'">
        <a class="page-link" th:href="@{/allratings(page=${pageNum}, size=${wines.size})}" th:text="${pageNum + 1}">1</a>
      </li>
      <li th:if="${wines.hasNext()}" class="page-item">
        <a class="page-link" th:href="@{/allratings(page=${wines.number + 1}, size=${wines.size})}" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>
</div>

<div class="container mt-5">
  <h2>Enter Email</h2>
  <form th:action="@{rating/sendInfo}" method="post">
    <div class="form-group">
      <label for="email">Email address:</label>
      <input type="email" class="form-control" id="email" placeholder="Enter email" name="email" required>
    </div>
    <!-- CSRF Token is automatically included by Thymeleaf -->
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>


</body>





<body th:insert="~{fragments/footer}"><body>
