<!DOCTYPE html>
<html lang="en">
<header th:insert="~{layout}"></header>

<body>

<div class="container mt-4">

    <section class="card mb-4">
        <div class="card-body">
            <h2 class="card-title">daily riddle</h2>
            <p>Riddle: <span >riddle_placeholder</span></p>
        </div>
    </section>
    <!-- Wine of the Week Section -->
    <section class="card mb-4">
        <img src="https://mdbcdn.b-cdn.net/img/new/slides/041.webp" alt="Wild Landscape"
        class="img-fluid" style="width: 400px;">
        <div class="card-body">
            <h2 class="card-title">Wine of the Week</h2>
            <p class="card-text">Wine_of_the_week_placeholder</p>
        </div>
    </section>

    <section class="card mb-4">
        <div class="card-body">
            <h2 class="card-title">Special Advertisement</h2>
            <p class="card-text">Check out our special offers and promotions!</p>

        </div>
    </section>

    <section class="card mb-4">
        <div class="card-body">
            <h2 class="card-title">Top and new Wines</h2>
            <p class="card-text">Top_new_wine_placeholder</p>
        </div>
    </section>


    <section class="card mb-4">
        <div class="card-body">
            <h2 class="card-title">Vintner of the week</h2>
            <p class="card-text">Vintner_of_the_week_placeholder</p>

        </div>
    </section>

    <section class="card mb-4">
        <div class="card-body">
            <h2 class="card-title">riddle solution</h2>
            <p>Answer: <span >answer_placeholder</span></p>
        </div>
    </section>


</div>

</body>
</html>