<!DOCTYPE html>
<html lang="en">
<header th:insert="~{layout}"></header>

<body>

<div class="container mt-4">

  <!-- Wine of the Week Section -->
  <section class="card mb-4">
    <img src="https://mdbcdn.b-cdn.net/img/new/slides/041.webp" alt="Wild Landscape"
         class="img-fluid" style="width: 400px;">
  </section>

  <section class="card mb-4">
    <div class="card-body">
      <h2 class="card-title">Current top wines</h2>
      <p class="card-text">Top_wine_placeholder</p>
    </div>
  </section>

  <section class="card mb-4">
    <div class="card-body">
      <h2 class="card-title">Special Advertisement</h2>
      <p class="card-text">Check out our special offers and promotions!</p>
    </div>
  </section>


</div>

</body>
</html>