<!DOCTYPE html>
<html lang="en">
<header th:insert="~{layout}"></header>


<body>
<div th:insert="~{fragments/header}"></div>

<div class="container mt-4">

  <h2 th:if="${categories.isEmpty()}" th:text="#{please_rate_wine}">

  </h2>

  <section  class="card mb-4" th:remove="${categories.isEmpty()} ? all : none">
    <div class="card-body" >
      <h2 class="card-title" th:text="#{your_top_category}"></h2>
      <table class="table table-striped">
        <tbody>
        <tr th:each="category : ${categories}">
          <td th:text="${category}"></td>
        </tr>
        </tbody>
      </table>
    </div>
  </section>

  <section class="card mb-4" th:remove="${categories.isEmpty()} ? all : none">
    <div class="card-body">
      <h2 class="card-title" th:text="#{our_tips}"></h2>
      <table class="table table-striped">
        <thead class="thead-light">
        <tr>
          <th th:text="#{Name}"></th>
          <th th:text="#{Description}">Beschreibung</th>
          <th th:text="#{Type}">Type</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="recommendation : ${recommendations}">
          <td th:text="${recommendation.getName()}"></td>
          <td th:text="${recommendation.getDescription()}"></td>
          <td th:text="${recommendation.getType()}"></td>
        </tr>
        </tbody>
      </table>
    </div>
  </section>


</div>

</body>
</html>