* {
    color: black;
}

footer  {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 90px;
    /* align text horizontally  and vertically */
    text-align: center;
    vertical-align: middle;
    margin-top: auto;
}

body {
    margin-bottom: 65px;
}