<!DOCTYPE html>
<header th:insert="~{layout}"></header>
<body>
    <div th:insert="~{fragments/header}"></div>
    <div class="container mt-4">
        <div class="container text-center">
            <!-- Wine Image or Icon -->
            <img src="/images/cryingwine.png" alt="Cute Wine" style="width: 400px;">
            <!--TODO: übersetzung-->
            <h3>Oh oh, you haven´t confirmed your email address</h3>
            <h4>Please confirm your email by clicking on the link in the mail we sent you.</h4>
        </div>
    </div>
</body>

<div th:insert="~{fragments/footer}"></div>