<!DOCTYPE html>
<header th:insert="~{layout}"></header>
<body>
    <div th:insert="~{fragments/header}"></div>
    <div class="container mt-4">
        <div class="container text-center">
            <!-- Wine Image or Icon -->
            <img src="/images/cryingwine.png" alt="Cute Wine" style="width: 400px;">
            <h3 th:text="#{no_mail_confirmation}"></h3>
            <h4  th:text="#{no_mail_explaination}"></h4>
        </div>
    </div>
</body>

<div th:insert="~{fragments/footer}"></div>