<!DOCTYPE html>
<header th:insert="~{layout}"></header>

<body>

<div th:insert="~{fragments/header}"></div>

<h1 class="title">
    Welcome to the Wine Cellar <span th:text="${loggedInUsername}"></span>!
</h1>

<div>
    <form th:action="@{/sendMail}" th:method="post" th:object="${emailDetails}">
        <input type="text" th:field="*{recipient}" placeholder="To">
        <input type="text" th:field="*{subject}" placeholder="Subject">
        <textarea th:field="*{msgBody}" placeholder="Body"></textarea>
        <button type="submit">Send Mail</button>
    </form>
</div>


<div th:insert="~{fragments/footer}"></div>

</body>