<!DOCTYPE html>
<header th:insert="~{layout}"></header>

<body>

<div th:insert="~{fragments/header}"></div>

<h1 class="title" th:text="#{Welcome_to_the_Wine_Cellar}">
     <span th:text="${loggedInUsername}"></span>!
</h1>

<div>

    <div class="container mt-5">
        <div class="row text-center">

            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title" th:text="#{Number_of_Ratings}"></h5>
                        <p class="card-text" th:text="${stat.getNumRatings()}"></p>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title" th:text="#{Number_of_Wines}"></h5>
                        <p class="card-text" th:text="${stat.getNumwines()}"></p>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title" th:text="#{Number_of_Wineries}"></h5>
                        <p class="card-text" th:text="${stat.getNumwinery()}"></p>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title" th:text="#{Number_of_Feedback}"></h5>
                        <p class="card-text" th:text="${stat.getNum_feedback()}"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>

<div th:insert="~{fragments/footer}"></div>

</body>

<style>

    .card {
        margin: 10px;
        min-height: 140px;
        background: lightgrey;
        border-radius: 20px;
        border: white;
    }

    .card-title {
        font-size: 20px;
        min-height: 60px;
    }

    .card-text {
        font-size: 40px;
        font-weight: bold;
        font-family: Monospaced, sans-serif;
    }



</style>